.container {
  padding: 0 2rem;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 85vh;
  padding: 4rem 0;
}

.footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 2rem 0;
}

.footer a {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  text-decoration: underline;
}

.title {
  font-size: 4rem;
  line-height: 1.15;
  margin: 0;
}

.title {
  text-align: center;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
}

.card {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  color: inherit;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: space-between;
  margin: 1rem;
  min-width: 320px;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3;
  color: #0070f3;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }
}
