.container {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem 0 2rem;
}

.main {
  max-width: 960px;
  width: 100%;
}

.input {
  height: 320px;
  margin-bottom: 0.5rem;
  width: 100%;
}

.error {
  border-color: darkred;
}

.errorMsg {
  color: darkred;
}

.hidden {
  visibility: hidden;
}

.control {
  margin-right: 0.5rem;
}
